.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(186, 186, 186);
  padding-bottom: 15px;
  margin-bottom: 20px;
  height: 120px;
}
.SearchBar{
  /* border: 2px solid red; */
  width: 33%;
}
.SearchBar input{
  margin-left: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}
.SearchBar button{
  background: transparent;
  outline: none;
  border: none;

}
.CenteredNavbar{
  height: 100%;
  display : flex;
  flex-direction: column;
  justify-content: space-around;
  width: 33%;
  text-align: center;
  /* border: 2px solid red; */
}
.C-N-ul{
  display : flex;
  justify-content: space-evenly;
 flex-direction: row;
 text-decoration: none;
 list-style: none;
}
.SM-Links{
  display : flex;
  justify-content: flex-end;
  width: 33%;
  /* border: 2px solid red; */
}
.SM-Links i{
  margin-right: 20px;
}